<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - Zona Movil</title>

    <!-- Custom fonts for this template-->
    <link href="~/Scripts/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Scripts/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/Scripts/libs/DateRangePicker/daterangepicker.css" rel="stylesheet" />
    @*<link href="~/Scripts/datatables/extensiones/css/buttons.dataTables.min.css" rel="stylesheet">*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">


    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body id="page-top" style="padding-top:0; padding-bottom:0;">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-phone-volume fa-flip-horizontal"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Zona Movil</div>

            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Inventario
            </div>

            <!-- Nav Item - Utilities Collapse Menu -->
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInventory"
                   aria-expanded="true" aria-controls="collapseInventory">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Inventario</span>
                </a>
                <div id="collapseInventory" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index","Producto")">Productos</a>
                        <a class="collapse-item" href="@Url.Action("Index","Cliente")">Cliente</a>
                        <a class="collapse-item" href="@Url.Action("Index","Proveedor")">Proveedor</a>
                        <a class="collapse-item" href="@Url.Action("Index","Categoria")">Categoria</a>
                        <a class="collapse-item" href="@Url.Action("Index","Marca")">Marca</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Ventas")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Ventas</span>
                </a>
            </li> 
            
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Pedidos</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Compras")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Compras</span>
                </a>
            </li>


            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSales"
                   aria-expanded="true" aria-controls="collapseSales">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Reportes</span>
                </a>
                <div id="collapseSales" class="collapse" aria-labelledby="headingSales"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("VentasFecha","ReporteVentas")">Ventas por Fechas</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white shadow">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>&copy; Zona Movil</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    @*<script src="~/Scripts/jquery-val/jquey.validate.min.js"></script>*@
    <script src="~/Scripts/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/js/sb-admin-2.min.js"></script>

    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/swal/swal.js"></script>
    <script src="~/Scripts/libs/moment/moment.js"></script>
    <script src="~/Scripts/libs/DateRangePicker/dateRangePicker.js"></script>
    <script src="~/Scripts/libs/inputmask/inputmask.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        });

        $(document).ready(function () {
            $('.selectpicker').on('show.bs.select', function () {
                $(this).parent().find('.dropdown-menu').removeClass('dropdown-menu-up');
            });
        });
    </script>

    <script>
        var baseUrl = '@Url.Content("~")';
        if (!baseUrl.endsWith("/")) baseUrl += "/";
        var formatoFecha = "DD/MM/YYYY";
        var formatoFechaHora = "DD/MM/YYYY hh:mm A";
    </script>

    @RenderSection("scripts", required: false)
</body>

</html>